@using PersonalSectorManager.ViewModels
@model UserViewModel

<h3>Profile submitted successfully</h3>
<br />
<form asp-action="Index" method="get">
    <input type="hidden" asp-for="UserId" value="@Model.UserId" />
    <label><b>User Name:</b></label> <label>@Model.UserName</label>
    <input type="hidden" asp-for="UserName" value="@Model.UserName" />
    <br />
    <label><b>Sectors:</b></label>
    @foreach (var sector in Model.Sectors)
    {
        <label>@sector.Name</label>
        <input type="hidden" asp-for="SelectedSectorIds" value="@sector.Value" />
    }
    <div class="form-group">
        @if (Model.AgreeToTerms)
        {
            <input type="checkbox" id="agree-to-terms" asp-for="AgreeToTerms" value="true" checked disabled />
        }
        else
        {
            <input type="checkbox" id="agree-to-terms" disabled />
        }
        <label for="agree-to-terms">Agree to terms</label>
    </div>
    <br />
    <div class="form-group">
         <input type="submit" value="Edit">
         <input type="button" value="Cancel" class="btn btn-default" onclick="location.href='/'" />
     </div>
</form>

